// Override this file to add your own SCSS styling.

// to use in blog post to put emphasis on a part. This specifically draw
// a background over the all screen.
.highlight-screen {
    background-color: white;
    box-shadow: 0 0 0 100vmax white;
    clip-path: inset(0 -100vmax); 
}